html{

}
body{
    box-sizing: border-box;
    margin: 50px 75px;
    position: relative;
    font-family: Verdana, sans-serif;
    height: 200vh;   
    background-image: url("../Assets/images/urdibg.png");
    background-attachment: fixed;
    overflow-x: hidden;
}
#myModal{
  padding: 10px;
}
/* Modal Content/Box */
#myModal1 .modal-content {
  height: 100%;
}
/* Modal Content/Box */
#myModal2 .modal-content {
  height: 100%;
}
/* Modal Content/Box */
#myModal4 .modal-content {
  height: 100%;
}
#researchReportDiv{
  width: 75%;
  margin: 0 auto;
}
#researchReportTable tr td{
  padding: 10px;
}
input[type=text]{
  width: 30%;
  height: 35px;
  border-radius: 5px;
  margin: 10px 0;
}
input[type=email]{
  width: 30%;
  height: 35px;
  border-radius: 5px;
  margin: 10px 0;
}
input[type=tel]{
  width: 30%;
  height: 35px;
  border-radius: 5px;
  margin: 10px 0;
}
input[type=submit]{
  width: 15%;
  height: 35px;
  border-radius: 5px;
  margin: 10px 0;
}
#visitorModal{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10% 0%;
  text-align: center;
  width: 100%;
}

/* Modal Content/Box */
#myModal3 .modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 12px 1%;
  border: 1px solid #888;
  width: fit-content; /* Could be more or less, depending on screen size */
  min-width: 30%;
  border-radius: 20px;
  overflow: visible;
  height: 50%;
}
#visitorModal input[type=text]{
  width: 50%;
}
#visitorModal input[type=email]{
  width: 50%;
}
#visitorModal input[type=submit]{
  width: 30%;
}
/* HEADER Start */
.header{
    width: 100%;
    display: flex;
    position: relative;
    padding: 10px 35px;
    /* border: 1px solid black; */
}
#logoDiv{
    width: 10%;
    height: 150px;
    /* border: 1px solid black; */
}
#logoImg{
  width: 100%;
  height: 150px;
}
#websitetitleDiv{
  margin: 0 0 0 25px;
}
#websiteTitle{
  font-size: 52px;
  font-weight: 600;
  display: block;
  margin-bottom: -25px;
}
#websitesubTitle{
  font-size: 20px;
  font-weight: 400;
  display: block;
  margin-top: 12px;
}
#topNav{
  width: 100%;
  position: relative;
}
#topnavUl{
    list-style-type: none;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    right: -27px;
    border: 1px solid black;
    width: 100%;
    text-align: right;
    margin: 0;
    background-color: rgba(41, 124, 51,0.9);
    border-radius: 10px;
    border: none;
}
#topnavUl .topnavLi{
    display: inline;
    margin: -3px;
    padding: 7px 25px;
    color: white;
    /* border: 1px solid black; */
}
/* #topnavUl .topnavLi a{
    text-decoration: none;
} */
#topnavUl .topnavLi:hover{
  /* background-color: rgba(41, 124, 51, 0.9);
  color: white;
  cursor: pointer;
  animation-name: fadeSvc;
  animation-duration: 1s; */
  cursor: pointer;
}
/* HEADER End */
/* CONTENT Start */
.content{
  width: 100%;
  display: grid;
  position: absolute;
  padding: 10px;
  grid-template-areas: "top top"
                        "ad1 ad1"
                        "art vad1"
                        "ad2 ad2";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 20rem 15% 30% 15%;
  /* border: 1px solid black; */
}
#topsubPanel{
    display: flex;
    grid-area: top;
}
#hadvt1{
  /* border: 1px solid black; */
  width: 90vw;
  height: 175px;
  position: relative;
  margin: 25px 0 0px 0;
  grid-area: ad1;
}
#hadvt1 a{
  position: relative;
} 
#hadvt1 a img{
  /* width: fit-content; */
  position: absolute;
  height: 100px;
  height: 18vh;
  width: 90vw;
}
#hadvt2{
  /* border: 1px solid black; */
  width: 72%;
  height: 175px;
  position: absolute;
  margin: 25px 0 0px 0;
  grid-area: ad1;
}
#hadvt2 a{
  position: relative;
} 
#hadvt2 a img{
  /* width: fit-content; */
  position: absolute;
  height: 18vh;
  width: 89vw;
}
#vadvt1{
  /* border: 1px solid black; */
  position: relative;
  width: 97%;
  margin: 10px;
  grid-area: vad1;
  top: 17rem;
  height: 30rem;
  right: 40rem;
}
#vadvt1 a{
  position: relative;
} 
#vadvt1 a img{
  /* width: fit-content; */
  /* position: absolute; */
  height: 50vh;
  width: 36vw;
}
#articleSectionId{
  /* border: 1px solid black; */
  width: 100%;
  height: 200px;
  /* position: absolute; */
  top: 126%;
  left: -1px;
  display: flex;
  padding: 5px;
  grid-area: ad1;
  position: relative;
}
#articleDivId{
  /* border: 1px solid black; */
  width: 70%;
  margin: 10px;
}

.articlesubDiv{
  /* border: 1px solid black; */
  /* height: 45%; */
  /* margin: 10px; */
  margin: 0px 0 60px 0px;
  width: 1000px;
}
* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
#carouselId{
    padding: 0 2%;
}
.slideshow-container {
  position: relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 125px;
  width: 100%;
  text-align: left;
}

.cTitle {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  font-weight: 500;
  position: absolute;
  bottom: 90px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.cTitle:hover {
  text-decoration: underline;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

.carimgpostReadClass{
  display: none;
}

.carimgpostReadClass .cartopic{

}

.carTitle{

}

.carPara{
  
}

.serviceformHeader{
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  overflow: none;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 50px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  border-radius: 20px;
  height: 50%;
  overflow-y: auto;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 


@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fadeSvc {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#servicesTable{
  width: 40vw !important;
  height: 93%;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#servicesTable tr th{
  font-size: 28px;
  padding: 0px;
  height: 15%;
  background-color: rgba(41, 124, 51, 0.9);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #ffffff;
}

#servicesTable tr td{
  text-align: center;
  cursor: pointer;
}

#servicesTable tr td:hover{
  text-align: center;
  background-color: rgba(0, 156, 0, 0.3);
  animation-name: fadeSvc;
  animation-duration: 1s;
}

/* Slick Slider Css Ruls */

.slick-slider {
  position: relative;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0
}

.slick-list:focus {
  outline: none
}

.slick-list.dragging {
  cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''
}

.slick-track:after {
  clear: both
}

.slick-loading .slick-track {
  visibility: hidden
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px
}

.slick-slide.dragging img {
  pointer-events: none
}

.slick-initialized .slick-slide {
  display: block
}

.slick-loading .slick-slide {
  visibility: hidden
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent
}

.img-fill {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center
}

.img-fill img {
  height: 100%;
  min-width: 100%;
  position: relative;
  display: inline-block;
  max-width: none
}
/* Slider Theme Style */

.Container {
  padding: 0 15px;
}

.Container:after,
.Container .Head:after {
  content: '';
  display: block;
  clear: both;
}

.Container .Head {
  font: 20px/50px NeoSansR;
  color: #222;
  height: 52px;
  overflow: hidden;
  border-bottom:1px solid rgba(0,0,0,.25);
}

.Container .Head .Arrows {
  float: right;
}

.Container .Head .Slick-Next,
.Container .Head .Slick-Prev {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-top: 6px;
  background: #2b2b2b;
  color: #FFF;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.Container .Head .Slick-Next:hover,
.Container .Head .Slick-Prev:hover {
  background: #33687a;
}

.Container .Head .Slick-Next:before {
  content: '\f105'
}

.Container .Head .Slick-Prev:before {
  content: '\f104'
}

.SlickCarousel {
  margin: 0 -7.5px;
  margin-top: 10px;
}

.ProductBlock {
  padding: 0 7.5px;
}

.ProductBlock .img-fill {
  height: 150px;
}

.ProductBlock h3 {
  font: 15px/36px RalewayR;
  color: #393939;
  /* margin-top: 5px; */
  padding: 0;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, .25);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  /* border: 1px solid black; */
}
#aboutusPanel{
  display: none;
}
#contactPanel{
  display: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 7% auto; /* 15% from the top and centered */
  padding: 20px 3%;
  border: 1px solid #888;
  width: fit-content; /* Could be more or less, depending on screen size */
  min-width: 30%;
  border-radius: 20px;
  height: 75%;
}
.modal-content input[type=text]{
  min-width: 250px;
}
.modal-content input[type=email]{
  min-width: 250px;
}
.modal-content input[type=tel]{
  min-width: 250px;
}
.modal-content input[type=submit]{
  min-width: 250px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 
.blogimgpostReadClass{
  display: none;
}
.blogvidpostReadClass{
  display: none;
}
.horizontalAdvt {
  height: 300px;
}
.horizontalAdvt > a > img{
  width: fit-content;
}
/* CONTENT End */
/* FOOTER Start */
#footerId{
  /* border: 1px solid black; */
  width: 100vw;
  height: 10%;
  position: absolute;
  bottom: 0;
  margin-bottom: -49px;
  margin-left: -75px;
  background-color: rgba(41, 124, 51,0.9);
  display: flex;
}
#botlogoDiv #botlogoImg{
  position: relative;
  width: 5vw;
  border-radius: 5px;
  margin: 25px 0 0 100px;
}
#botwebsitetitleDiv{
  margin: 25px 0 0 0;
}
#botwebsiteTitle{
  margin: 60px 0 0px 15px;
  font-size: 25px;
  font-weight: 700;
  color: white;
}
#botwebsitesubTitle{
  margin: -15px 0 0px 15px;
  color: white;
}
/* FOOTER End */